<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://brewer.artifcer.com" layout:decorate="~{layouts/defaultLayout}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8" />
	<title>Brew Master | Pequisa Usuários</title>

</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<diV class="col-xs-10">
						<h1>Pesquisa de Usuários</h1>
					</diV>

					<diV class="col-xs-2" sec:authorize-url="/usuarios/cadastro">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/usuarios/cadastro}">
								<i class="glyphicon glyphicon-plus-sign">
									<span class="hidden-xs hidden-sm">Novo Usuário</span>
								</i>
							</a>
						</div>
					</diV>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="GET" th:object="${usuarioFilter}">
				<div class="row">
					<div class="form-group col-sm-5">
						<label class="control-label" for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}" />
					</div>

					<div class="form-group col-sm-7">
						<label class="control-label" for="email">E-mail</label>
						<input type="text" class="form-control" id="email" th:field="*{email}" />
					</div>
				</div>

				<div class="row">

					<div class="col-sm-3  form-group" th:classappend="${#fields.hasErrors('grupos')} ? has-error">

						<label for="grupos" class="control-label">Grupos</label>
						<div class="user-checkbox">

							<th:block th:each="grupo : ${grupos}">
								<div class="checkbox-inline">
									<input type="checkbox" th:value="${grupo.id}" th:field="*{grupos}" />
									<label th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}">
										Administrador
									</label>
								</div>
							</th:block>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Pesquisar</button>

			</form>
		</div>

		<div class="aw-datatable-toolbar">
			<button class="btn btn-default	btn-xs js-btn-status disabled" th:data-status="ATIVAR"
				th:data-url="@{/usuarios/status}">
				<span>Ativar</span>
			</button>
			<button class="btn btn-default	btn-xs js-btn-status disabled" th:data-status="DESATIVAR"
				th:data-url="@{/usuarios/status}">
				<span>Desativar</span>
			</button>
		</div>


		<div class="table table-responsive bw-tabela-simples">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="table-usuario-col-status">
							<div class="checkbox aw-checkbox-no-margin">
								<input type="checkbox" class="js-select-all" />
								<label></label>
							</div>
						</th>

						<th class="table-estilos-col-name">Nome
							<!--														<th:block th:replace="fragments/Ordenacao :: order (${paginas}, 'nome', 'Nome')">-->
							<!--														</th:block>-->
						</th>
						<th class="table-estilos-col-name">E-mail
							<!--														<th:block th:replace="fragments/Ordenacao :: order (${paginas}, 'email', 'E-mail')">-->
							<!--														</th:block>-->
						</th>
						<th class="table-estilos-col-name">Grupo
							<!--														<th:block th:replace="fragments/Ordenacao :: order (${paginas}, 'status', 'Status')">-->
							<!--														</th:block>-->
						</th>
						<th>Status</th>


						<th class="table-estilos-col-acoes"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${paginas.conteudo}">
						<td>
							<div class="checkbox aw-checkbox-no-margin"
								th:if="${#authentication.principal.usuario.id != usuario.id}">
								<input type="checkbox" class="js-selected" th:data-codigo="${usuario.id}" />
								<label></label>
							</div>
						</td>

						<td th:text="${usuario.nome}">AA9999</td>
						<td th:text="${usuario.email}">Cacilds</td>
						<td>
							<span th:each="grupo : ${usuario.grupos}"
								th:text="|${grupo.nome}${grupoStat.last ? '':', '}|"></span>
						</td>
						<td>
							<th:block th:if="${usuario.ativo}">
								<span class="label label-success">Ativo</span>
							</th:block>

							<th:block th:if="${not usuario.ativo}">
								<span class="label label-danger">Inativo</span>
							</th:block>
						</td>
						<td class="text-center" sec:authorize="hasAuthority('CADASTRAR_USUARIO')">
							<a class="btn btn-link btn-xs js-tooltip " titile="Editar"
								th:href="@{/usuarios/{id}(id=${usuario.id})}">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn btn-link btn-xs " titile="Remover">
								<i class="glyphicon glyphicon-remove"></i></a>
						</td>
					</tr>
					<tr th:if="${paginas.vazia}">
						<td colspan="7">Nenhum Usuário Encontrado!</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-sm-12 text-center" th:if="${not paginas.vazia}">
			<nav>
				<ul class="pagination pagination-sm" th:with="paginaAtual=${paginas.atual}">
					<li th:class="${paginas.primeira} ? disabled"><a th:href="${paginas.urlParaPagina(paginaAtual - 1)}"
							th:remove="${paginas.primeira} ? tag"><span>&laquo;</span></a></li>

					<th:block th:each="page : ${#numbers.sequence(1, paginas.total)}"
						th:with="numeroPagina=${page - 1}">
						<li th:class="${paginaAtual == numeroPagina} ? active">
							<a th:href="${paginas.urlParaPagina(numeroPagina)}">[[${page}]]</a>
						</li>
					</th:block>
					<li th:class="${paginas.ultima} ? disabled"><a th:href="${paginas.urlParaPagina(paginaAtual + 1)}"
							th:remove="${paginas.ultima} ? tag"><span>&raquo;</span></a></li>
				</ul>
			</nav>
		</div>


	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/multiselecao.js}"></script>
	</th:block>
</body>

</html>