<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/defaultLayout}">
<head>
<meta charset="UTF-8" />
<title>Brew Master | Cidades</title>


<link rel="stylesheet" type="text/css"
	th:href="@{/styles/vendors/bootstrap-switch.min.css}" />
</head>

<body>

	<section layout:fragment="conteudo">


		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de Cidades</h1>
			</div>
		</div>

		<div class="container-fluid">

			<!-- 				<div class="alert  alert-danger  alert-dismissible" role="alert"> -->
			<!-- 					<button type="button" class="close" data-dismiss="alert" -->
			<!-- 						aria-label="Close"> -->
			<!-- 						<span aria-hidden="true">&times;</span> -->
			<!-- 					</button> -->
			<!-- 					<i class="fa  fa-exclamation-circle"></i> Já existe um produto com -->
			<!-- 					o nome informado. -->
			<!-- 				</div> -->

			<form action="/cidades" method="post" th:object="${cidade}"
				class="form-vertical  js-form-loading">

				<div class="row">
					<div class="col-lg-4  form-group">

						<label for="estilo">Estado</label>
						<div class="bw-field-action">
							<select id="estilo" class="form-control">
								<option value="">Selecione o Estado</option>
							</select>

						</div>
					</div>
					<div class="col-lg-8  form-group">

						<label for="estoque">Nome</label> <input id="estoque" type="text"
							class="form-control" />

					</div>

				</div>


				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>

			</form>
		</div>


		<div th:replace="estilo/styleFastRegister :: modal "></div>

	</section>

</body>
</html>