<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/defaultLayout}">

<head>
	<meta charset="UTF-8" />
	<title>Brew Master | Estilos</title>


	<link rel="stylesheet" type="text/css" th:href="@{/styles/vendors/bootstrap-switch.min.css}" />
</head>

<body>

	<section layout:fragment="conteudo">


		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<diV class="col-xs-10">
						<h1 th:if="${estilo.novo}">Cadastro de Estilo</h1>
						<h1 th:unless="${estilo.novo}" th:text="|Editar Estilo: ${estilo.nome}|">Cadastro de
							Estilo
						</h1>
					</diV>

					<diV class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/estilos}">
								<i class="glyphicon glyphicon-plus-sign">
									<span class="hidden-xs hidden-sm">Novo Estilo</span>
								</i>
							</a>
						</div>
					</diV>
				</div>
			</div>
		</div>

		<div class="container-fluid">


			<th:block th:include="fragments/mensagemSucesso"></th:block>
			<!-- 				<div class="alert  alert-danger  alert-dismissible" role="alert"> -->
			<!-- 					<button type="button" class="close" data-dismiss="alert" -->
			<!-- 						aria-label="Close"> -->
			<!-- 						<span aria-hidden="true">&times;</span> -->
			<!-- 					</button> -->
			<!-- 					<i class="fa  fa-exclamation-circle"></i> Já existe um produto com -->
			<!-- 					o nome informado. -->
			<!-- 				</div> -->

			<form method="post" th:object="${estilo}" class="form-vertical  js-form-loading"
				th:action="${estilo.novo} ? @{/estilos/cadastro} : @{/estilos/{id}(id=${estilo.id})}">
				<input type="hidden" th:field="*{id}" />

				<th:block th:include="fragments/mensagemErroValidacao">
				</th:block>
				<div class="row">
					<div class=" col-lg-12 form-group bw-required"
						th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<!--						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">-->
						<!--							<label th:errors="*{nome}" class="validation-message"></label>-->
						<!--						</div>-->
						<label for="nome" class="control-label">Nome</label> <input id="nome" type="text"
							class="form-control" th:field="*{nome}" />

					</div>

				</div>


				<div class=" form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>

			</form>
		</div>


		<div th:replace="estilo/styleFastRegister :: modal "></div>

	</section>

</body>

</html>